@font-face {
  font-family: martel;
  src: url(fonts/Martel-Bold.ttf);
}

h1,
h2 {
  color: grey;
}

.navbar .dropdown-toggle,
.navbar .dropdown-menu a {
  cursor: pointer;
}

.navbar .dropdown-item.active,
.navbar .dropdown-item:active {
  color: inherit;
  text-decoration: none;
  background-color: inherit;
}

.navbar .dropdown-item:focus,
.navbar .dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#search-bar {
  max-height: 200px;
  transition: 0.5s;
  transition-timing-function: ease;
}

@media (min-width: 767px) {
  .navbar .dropdown-toggle:not(.nav-link)::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .5em;
    vertical-align: 0;
    border-bottom: .3em solid transparent;
    border-top: .3em solid transparent;
    border-left: .3em solid;
  }
}

.search-container {
  padding: 2px 0;
  background-color: #0062cc;
}

.search-container .row {
  justify-content: center;
  height: 40px;
}

.search-bar {
  display: flex;
  background-color: white;
  border-radius: 20px;
  padding: 0 12px;
}

.search-bar .form-control {
  width: 400px;
  font-weight: 600;
  height: 30px;
  border: none;
  padding-bottom: 10px;
}

@media( max-width:500px) {
  .search-bar .form-control {
    width: auto;
  }
}

.search-bar input:focus {
  outline: none;
  border-color: inherit;
  box-shadow: none;
}

.search-bar {
  padding-top: 4px;
}

.search-bar i,
.button-container .navbar-toggler i,
.search-icon i {
  font-size: 20px;
  cursor: pointer;
}

.search-bar i:hover {
  color: #0062cc;
}

.arrow-container {
  padding-top: 2px;
}

.search-icon {
  display: flex;
  justify-content: flex-end;
}

.logo-container img {
  width: 160px;
  padding: 8px 0;
}

.logo-container,
.search-icon {
  width: 25%;
}

@media(max-width: 768px) {
  .logo-container,
  .search-icon {
    width: auto;
  }
  .logo-container img {
    width: 150px;
  }
  .home-top img {
    display: none;
  }
}

.navbar-collapse ul {
  margin: 0 auto;
}

@media(max-width: 768px) {
  .button-container,
  .search-icon {
    width: 20%;
  }
  .navbar-nav .nav-link {
    border-bottom: 1px solid #ababab;
  }
  .reklama-bar {
    width: 320px !important;
    height: 50px !important;
  }
}

.button-container .navbar-toggler {
  color: black;
}

.navbar.navbar-expand-md.mb-4 {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #f8f8f8;
  border-bottom: 1px solid #e2e2e2;
}

.navbar a {
  color: #242424;
  font-weight: 500;
}

.navbar a:hover,
.search-icon i {
  color: #0062cc;
}

.search-icon i:hover {
  color: #0062cc !important;
}

.home-top {
  padding-top: 120px;
}

.home-top .row {
  justify-content: center;
}

.home-top img {
  width: 50%;
  margin-bottom: 20px;
}

.reklama-bar {
  width: 726px;
  height: 88px;
  margin-bottom: 35px;
  background-color: #ababab;
}

.home-welcome .intro {
  width: 567px;
  margin-top: 20px;
  padding: 0 15px;
}

.home-welcome h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

.home-welcome p {
  padding-top: 15px;
}

.home-welcome .row {
  justify-content: center;
  text-align: center;
}

.search-letters {
  margin-top: 25px;
  text-align: center;
}

.search-letters .row {
  justify-content: center;
}

.search-letters h2 {
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: -15px;
}

.letters-container {
  padding: 20px 120px;
  background-color: #f8f8f8;
}

.letters-container a {
  padding: 1em;
  width: 50px;
  margin: 10px;
  border-radius: .3em;
  font-weight: bold;
  white-space: nowrap;
  cursor: pointer;
  color: white;
  background-color: #0062cc;
}

@media(max-width: 992px) {
  .letters-container {
    padding: 20px;
  }
}

.letters-container p {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 15px;
}

.small-divider {
  width: 3em;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 1.5em;
  margin-left: auto;
  margin-right: auto;
  border-color: #e2e2e2;
}

.divider {
  width: 100%;
  border-width: 1px;
  border-style: solid;
  margin-bottom: 1.5em;
  margin-left: auto;
  margin-right: auto;
  border-color: #e2e2e2;
}

.blog-section {
  margin-top: 30px;
}

.blog-section .row {
  justify-content: center;
}

.blog-section img {
  margin-top: 8px;
}

.blog-section h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: -15px;
  margin-top: 15px;
}

.blog-container {
  padding: 50px 0;
  background-color: #f8f8f8;
}

.square-ad {
  width: 300px;
  height: 250px;
  background-color: #ababab;
  margin: 0 auto;
}

.red-btn {
  padding: 1em;
  border-radius: .3em;
  font-weight: bold;
  white-space: nowrap;
  cursor: pointer;
  color: white;
  background-color: #0062cc;
}

.red-btn:hover {
  color: white;
}

footer {
  margin-top: 200px;
  padding: 15px;
  background-color: #f8f8f8;
}

.footer-links {
  color: grey;
}

footer a {
  color: grey;
}

footer a:hover {
  text-decoration: underline;
  color: grey;
}

footer p {
  margin-bottom: 0;
}

.duga-reklama {
  margin: 0 -15px;
  width: 160px;
  height: 600px;
  background-color: #ababab;
}

.words-by-letter .letter {
  color: #0062cc;
}

.words-by-letter .title {
  text-align: center;
  margin-top: 25px;
}

.words-by-letter .title h1 {
  text-transform: uppercase;
}

.words-by-letter h5 {
  color: #0062cc;
}

.word-card {
  margin-bottom: 1em;
  margin-top: 1em;
  padding: 1em;
  padding-bottom: 0;
  border: 1px #ababab solid;
}

.word-card h3 {
  font-size: 2em;
  padding-top: .2em;
  font-family: Martel, serif;
}

.word-card a {
  color: #242424;
}

.word-card a:hover {
  text-decoration: none;
  color: #0062cc;
}

.date {
  font-style: italic;
  text-align: right;
  text-align: end;
  display: block;
  font-size: .9em;
  margin: 1.5em -1rem 1em;
  padding-right: 1em;
  color: gray;
}

.more-words {
  justify-content: flex-end;
}

.more-words a {
  color: white;
}

.more-words a:hover {
  text-decoration: underline;
  color: white;
}

.more-words .red-btn {
  margin-right: 15px;
}

.long-red-btn {
  padding: 0.7em 1em;
  border-radius: .3em;
  font-weight: bold;
  white-space: nowrap;
  cursor: pointer;
  color: white;
  background-color: #0062cc;
}

.side-btns {
  margin-top: 30px;
}

.side-btns a {
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 15px;
  max-width: 300px;
}

.side-btns a:hover {
  color: white;
}

.side-btns a i {
  font-size: 14px;
  margin-top: 4px;
}

a i {
  font-size: 12px;
}

@media(max-width:992px) {
  .duga-reklama {
    display: none;
  }
}

.btn-page {
  margin: 0 .2em;
  height: 2em;
  line-height: 2em;
  width: 3em;
  border-radius: .5em;
  cursor: pointer;
  font-weight: bold;
  background-color: #0062cc;
  color: white;
}

.btn-page.selected {
  background-color: #242424;
}

.box-words {
  padding: 1em;
  padding-bottom: 15px;
  background-color: #f8f8f8;
  margin-top: 30px;
}

.box-words ul {
  list-style: none;
  margin-bottom: 0;
}

.box-words li {
  margin-top: 8px;
  font-size: 18px;
  text-decoration: underline;
}

.box-words li:hover {
  color: #0062cc;
  cursor: pointer;
}

.word-top {
  margin: 15px 0;
}

.word-top h1 {
  color: #242424;
  font-size: 2.4em;
  padding-top: .2em;
  font-family: Martel, serif;
}

.word-top h1 span {
  font-size: 14px;
  color: darkgray;
  font-weight: 400;
  text-transform: uppercase;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.share-btns {
  padding: .5em;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 30px;
  font-weight: normal;
  border: 1px #242424 solid;
  color: #242424;
  background-color: white;
  border-radius: .3em;
  justify-content: space-between;
}

.share-btns p {
  margin: 0;
}

.share-btns i {
  margin-left: 8px;
  cursor: pointer;
}

.share-btns i.fa-facebook-f {
  color: #3b5998;
}

.share-btns i.fa-twitter {
  color: #38A1F3;
}

.new-word h3 {
  margin-bottom: 20px;
}

.new-word input,
.new-word textarea {
  width: 100%;
  margin-bottom: 20px;
}

.send-word {
  justify-content: center;
}

.send-word .red-btn {
  color: white;
}

.blog-posts span {
  color: darkgrey;
}

.words-by-letter .more-words .red-btn {
  margin-top: 15px;
}

@media(min-width: 768px) {
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}